@using _5_18WebSocket.Data
@model IEnumerable<ToDo>


<div class="row">
    <div class="col-md-6 col-md-offset-3 well">
        <h4 id="count"></h4>
        <input type="text" id="task" class="form-control" placeholder="NewTask" />
        <button class="btn btn-primary" id="add">Add</button>
    </div>
</div>


<div class=" col-md-6 col-md-offset-3  task-info">
    <input type="hidden" id="userEmail" value="@User.Identity.Name" />
    <table class="table table-bordered table-hover table-striped" id="task-table">
        <tr class="tasks"></tr>
        @if (Model != null)
        {
            @foreach (ToDo td in Model)
            {
                <tr id="@td.Id-task-row">
                    <td>@td.Task</td>             
                   <td> <button class="btn btn-success assign" id="@td.Id-assign" data-id="@td.Id ">Assign to self</button></td>
                </tr>
            }
        }

    </table>
</div>



@section scripts
    {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aspnet-signalr/1.1.4/signalr.min.js"></script>

    <script src="~/js/JavaScript.js"></script>
}